# Questions for die Post Dataset

## Setup SQL

In [1]:
%load_ext sql
%config SqlMagic.autocommit=False # avoiding the error: FAILED: IllegalStateException COMMIT is not supported yet.
%sql hive://hadoop@localhost:10000/post

## Basic Checks

In [2]:
%sql SELECT * FROM plz limit 1

 * hive://hadoop@localhost:10000/post
Done.

[('01', 2597, 4252, 30, 4303, '03', 4303, 'Kaiseraugst Lieb.', 'Kaiseraugst Liebrüti', 1, None, 2597, '1997-03-05', 430303, '', 'AG')]

In [3]:
%sql SELECT * FROM streets limit 1

 * hive://hadoop@localhost:10000/post
Done.

[('04', 15007157, 1095, 'Torrent, place du', 'Torrent, place du', 'Place du Torrent', 'Place du Torrent', 1, 2, 'J', '', None)]

In [4]:
%sql SELECT * FROM bevoelkerung limit 1

 * hive://hadoop@localhost:10000/post
Done.

[('2022-03-01', 8203, 237, 'Schaffhausen', 'f')]

In [5]:
%sql SELECT * FROM nachnamen limit 1

 * hive://hadoop@localhost:10000/post
Done.

[('2022-03-01', 2905, 'Gerber', 14, 1, 'Courtedoux', 'm')]

## Count all zip codes (PLZ) per canton and order them by size.
How many cantons do we have and what tells us the output? Why is there a difference?

In [7]:
%%sql
select kanton, count(*) as cnt from plz group by kanton order by cnt DESC

 * hive://hadoop@localhost:10000/post
Done.

[('BE', 716),
 ('VD', 567),
 ('ZH', 476),
 ('TI', 386),
 ('AG', 363),
 ('VS', 344),
 ('GR', 329),
 ('FR', 312),
 ('SG', 264),
 ('TG', 232),
 ('LU', 225),
 ('SO', 178),
 ('GE', 141),
 ('BL', 129),
 ('NE', 113),
 ('JU', 103),
 ('SZ', 72),
 ('BS', 64),
 ('SH', 52),
 ('ZG', 38),
 ('GL', 36),
 ('AR', 32),
 ('UR', 30),
 ('OW', 28),
 ('NW', 24),
 ('FL', 20),
 ('AI', 17),
 ('DE', 1),
 ('IT', 1)]

## Find `suurstoffi` in the `streets` table and find the corresponding record in `plz`

In [8]:
%sql select * from streets where lower(STRBEZ2L) like '%suurstoffi%'

 * hive://hadoop@localhost:10000/post
Done.

[('04', 76139559, 3431, 'Suurstoffi', 'Suurstoffi', 'Suurstoffi', 'Suurstoffi', 1, 1, 'J', '', None)]

In [9]:
%sql select * from plz where onrp = 3431

 * hive://hadoop@localhost:10000/post
Done.

[('01', 3431, 1707, 10, 6343, '00', 6343, 'Rotkreuz', 'Rotkreuz', 1, None, 8452, '1996-03-04', 633160, 'J', 'ZG')]

## Find the top 5 newest `gilt_ab_dat` entries in `plz`

In [18]:
%sql select * from plz order by gilt_ab_dat DESC limit 5

 * hive://hadoop@localhost:10000/post
Done.

[('01', 10919, 1103, 80, 6210, '02', 6210, 'Sursee Wassergrabe', 'Sursee Wassergrabe', 1, None, 7217, '2022-03-16', 621060, '', 'LU'),
 ('01', 10917, 2701, 80, 4089, '77', 4089, 'Basel ZollExtern', 'Basel ZollExtern', 1, None, 2452, '2022-03-07', 400202, '', 'BS'),
 ('01', 10916, 2701, 80, 4089, '76', 4089, 'Basel ZollBeschau', 'Basel ZollBeschau', 1, None, 2452, '2022-03-07', 400202, '', 'BS'),
 ('01', 10915, 2701, 80, 4089, '75', 4089, 'Basel ZollGesperrt', 'Basel ZollGesperrt', 1, None, 2452, '2022-03-07', 400202, '', 'BS'),
 ('01', 10913, 6248, 80, 3960, '06', 3960, 'Sierre Rue Falcon', "Sierre Rue de l'Ile Falcon", 2, None, 7249, '2022-03-07', 396060, '', 'VS')]

## Check the `bevoelkerung` table for "your" `plz`.
Do you know what `typ` means?
Check out the [schema](https://swisspost.opendatasoft.com/explore/dataset/bevoelkerung_proplz/information/?disjunctive.plz&disjunctive.typ&disjunctive.ortbez18&sort=stichdatum) from the "post" if you don't.

In [27]:
%sql select * from bevoelkerung where plz = 8640

 * hive://hadoop@localhost:10000/post
Done.

[('2022-03-01', 8640, 1949, 'Rapperswil SG/Hurd', 'f'),
 ('2022-03-01', 8640, 5257, 'Rapperswil SG/Hurd', 'm'),
 ('2022-03-01', 8640, 5070, 'Rapperswil SG/Hurd', 'w')]

## Find the top three `PLZ` for `typ='f'`

In [29]:
%sql select * from bevoelkerung where typ='f' order by anzahl DESC limit 3

 * hive://hadoop@localhost:10000/post
Done.

[('2022-03-01', 6300, 19836, 'Zugerberg/Zug', 'f'),
 ('2022-03-01', 6900, 15460, 'Massagno/Lugano/Pa', 'f'),
 ('2022-03-01', 8001, 10784, 'Zürich', 'f')]

## Is your `nachname` in the `nachnamen` table?
Order it by anzahl

In [31]:
%%sql

select * from nachnamen where nachname = 'Egli' and geschlecht = 'm' order by anzahl

 * hive://hadoop@localhost:10000/post
Done.

[('2022-03-01', 3045, 'Egli', 6, 5, 'Meikirch', 'm'),
 ('2022-03-01', 8425, 'Egli', 8, 5, 'Oberembrach', 'm'),
 ('2022-03-01', 9652, 'Egli', 8, 4, 'Neu St. Johann', 'm'),
 ('2022-03-01', 3020, 'Egli', 8, 5, 'Bern', 'm'),
 ('2022-03-01', 9643, 'Egli', 9, 4, 'Krummenau', 'm'),
 ('2022-03-01', 8497, 'Egli', 9, 3, 'Fischenthal', 'm'),
 ('2022-03-01', 6217, 'Egli', 9, 5, 'Kottwil', 'm'),
 ('2022-03-01', 9601, 'Egli', 10, 1, 'Lütisburg Station', 'm'),
 ('2022-03-01', 3312, 'Egli', 10, 4, 'Fraubrunnen', 'm'),
 ('2022-03-01', 8345, 'Egli', 11, 1, 'Adetswil', 'm'),
 ('2022-03-01', 7232, 'Egli', 11, 2, 'Furna', 'm'),
 ('2022-03-01', 8372, 'Egli', 11, 1, 'Wiezikon b.Sirnach', 'm'),
 ('2022-03-01', 8498, 'Egli', 11, 1, 'Gibswil', 'm'),
 ('2022-03-01', 8725, 'Egli', 11, 5, 'Ernetschwil/Gebert', 'm'),
 ('2022-03-01', 8311, 'Egli', 12, 5, 'Brütten', 'm'),
 ('2022-03-01', 8266, 'Egli', 13, 5, 'Steckborn', 'm'),
 ('2022-03-01', 9534, 'Egli', 14, 4, 'Gähwil', 'm'),
 ('2022-03-01', 6114, 'Egli', 14, 2, 'Steinhuserberg', 'm'),
 ('2022-03-01', 7245, 'Egli', 15, 2, 'Ascharina', 'm'),
 ('2022-03-01', 8353, 'Egli', 15, 4, 'Elgg', 'm'),
 ('2022-03-01', 6106, 'Egli', 16, 1, 'Werthenstein', 'm'),
 ('2022-03-01', 6232, 'Egli', 16, 5, 'Geuensee', 'm'),
 ('2022-03-01', 9512, 'Egli', 16, 1, 'Rossrüti', 'm'),
 ('2022-03-01', 8623, 'Egli', 28, 2, 'Wetzikon ZH', 'm'),
 ('2022-03-01', 8634, 'Egli', 31, 5, 'Hombrechtikon', 'm'),
 ('2022-03-01', 6197, 'Egli', 31, 4, 'Schangnau', 'm'),
 ('2022-03-01', 9533, 'Egli', 32, 2, 'Kirchberg SG/Diets', 'm'),
 ('2022-03-01', 6207, 'Egli', 35, 1, 'Nottwil/Nottwil SP', 'm'),
 ('2022-03-01', 8630, 'Egli', 37, 3, 'Rüti ZH', 'm'),
 ('2022-03-01', 8340, 'Egli', 39, 3, 'Hinwil', 'm')]

## What are the top 10 lastnames in the table `nachnamen`?

In [33]:
%%sql

select nachname, sum(anzahl) as cnt from nachnamen group by nachname order by cnt DESC limit 10

 * hive://hadoop@localhost:10000/post
Done.

[('Müller', 45217),
 ('Meier', 25388),
 ('Schmid', 19500),
 ('Keller', 13161),
 ('n/a', 9733),
 ('Gerber', 6919),
 ('Weber', 6563),
 ('Huber', 5950),
 ('Meyer', 5134),
 ('Schneider', 5031)]