# Data Definition Language - DDL
Let us create a database `movielens_parquet`

In [ ]:
%load_ext sql
%sql hive://hadoop@localhost:10000/

In [ ]:
%%sql
CREATE DATABASE IF NOT EXISTS movielens_parquet

In [ ]:
%sql SHOW DATABASES

In [ ]:
%sql USE movielens_parquet

## Defining the Tables and Loading the Data

### Movies

In [ ]:
%%sql
CREATE TABLE IF NOT EXISTS movies (
    movieId int,
    title String,
    year int,
    genres ARRAY<STRING>
)
STORED AS Parquet

In [ ]:
%sql INSERT INTO TABLE movies select * from movielens.movies

## Ratings

In [ ]:
%%sql

CREATE TABLE IF NOT EXISTS ratings (
    userid INT, 
    movieid INT,
    rating INT, 
    `timestamp` bigint
)
STORED AS Parquet

In [ ]:
%sql INSERT INTO TABLE ratings select * from movielens.ratings

## Creating a Joined Table

In [ ]:
%%sql

CREATE TABLE IF NOT EXISTS movie_rating (
    movieid INT,
    title STRING,
    year INT,
    genres ARRAY<STRING>,
    num_rating INT, 
    first_quartile_rating FLOAT,
    median_rating FLOAT,
    third_quartile_rating FLOAT,
    avg_rating FLOAT,
    min_rating FLOAT,
    max_rating FLOAT
)
STORED AS Parquet

In [ ]:
%sql INSERT INTO TABLE movie_rating select * from movielens.movie_rating