# Questions for the MovieLens Parquet Dataset

## Setup SQL

In [1]:
%load_ext sql
%config SqlMagic.autocommit=False # avoiding the error: FAILED: IllegalStateException COMMIT is not supported yet.
%sql hive://hadoop@localhost:10000/movielens_parquet_compressed

## Playground

### How many movies do we have?

In [2]:
%time %sql SELECT count(*) FROM movies

 * hive://hadoop@localhost:10000/movielens_parquet_compressed
Done.
CPU times: user 6.9 ms, sys: 153 µs, total: 7.05 ms
Wall time: 125 ms

[(62423,)]

### How many ratings do we have?

In [3]:
%time %sql SELECT count(*) FROM ratings

 * hive://hadoop@localhost:10000/movielens_parquet_compressed
Done.
CPU times: user 1.17 ms, sys: 5.38 ms, total: 6.55 ms
Wall time: 116 ms

[(25000095,)]

### How many users do we have?

In [4]:
%time %sql SELECT COUNT(DISTINCT(userid)) FROM ratings

 * hive://hadoop@localhost:10000/movielens_parquet_compressed
Done.
CPU times: user 8.24 ms, sys: 1.12 ms, total: 9.36 ms
Wall time: 30.6 s

[(162541,)]

### Which movie(s) has (have) the most number of genres?

In [5]:
%time %sql select title, year, genres, size(genres) as num_gen from movies order by num_gen desc limit 2

 * hive://hadoop@localhost:10000/movielens_parquet_compressed
Done.
CPU times: user 9.34 ms, sys: 1.38 ms, total: 10.7 ms
Wall time: 27.4 s

[('Rubber', 2010, '["Action","Adventure","Comedy","Crime","Drama","Film-Noir","Horror","Mystery","Thriller","Western"]', 10),
 ('Motorama', 1991, '["Adventure","Comedy","Crime","Drama","Fantasy","Mystery","Sci-Fi","Thriller"]', 8)]

### Show all movies with terminator in the title

In [6]:
%time %sql select movieid, title, year from movies where lower(title) like '%terminator%'

 * hive://hadoop@localhost:10000/movielens_parquet_compressed
Done.
CPU times: user 8.31 ms, sys: 0 ns, total: 8.31 ms
Wall time: 232 ms

[(589, 'Terminator 2: Judgment Day', 1991),
 (1240, 'Terminator, The', 1984),
 (4934, 'Exterminator, The', 1980),
 (6537, 'Terminator 3: Rise of the Machines', 2003),
 (68791, 'Terminator Salvation', 2009),
 (102425, 'Lady Terminator (Pembalasan ratu pantai selatan)', 1989),
 (120799, 'Terminator Genisys', 2015),
 (126713, 'Exterminator 2', 1984),
 (136200, 'The Terminators', 2009),
 (139909, 'Russian Terminator', 1989),
 (145466, 'Exterminators of the Year 3000', 1983),
 (175137, "The Making of 'The Terminator': A Retrospective", 1992),
 (177415, "The Making of 'Terminator 2: Judgment Day'", 1991),
 (179031, 'ExTerminators', 2010),
 (207830, 'Terminator: Dark Fate', 2019)]

### How many movies do we have from 1984?

In [7]:
%time %sql select count(*) from movies where year = 1984

 * hive://hadoop@localhost:10000/movielens_parquet_compressed
Done.
CPU times: user 10.5 ms, sys: 0 ns, total: 10.5 ms
Wall time: 26.1 s

[(470,)]

### Show the distribution of movies per year (where year >= 2000), sorted by year

In [8]:
%time %sql select year, count(title) from movies where year >= 2000 group by year order by year asc

 * hive://hadoop@localhost:10000/movielens_parquet_compressed
Done.
CPU times: user 12.9 ms, sys: 3.02 ms, total: 15.9 ms
Wall time: 54.5 s

[(2000, 929),
 (2001, 969),
 (2002, 1023),
 (2003, 1028),
 (2004, 1169),
 (2005, 1250),
 (2006, 1440),
 (2007, 1494),
 (2008, 1625),
 (2009, 1721),
 (2010, 1673),
 (2011, 1821),
 (2012, 1959),
 (2013, 2164),
 (2014, 2403),
 (2015, 2513),
 (2016, 2488),
 (2017, 2374),
 (2018, 2034),
 (2019, 994)]

### Movies with the most number of ratings

In [9]:
%time %sql select title, year, num_rating, median_rating from movie_rating order by num_rating DESC limit 10

 * hive://hadoop@localhost:10000/movielens_parquet_compressed
Done.
CPU times: user 11.7 ms, sys: 2.6 ms, total: 14.3 ms
Wall time: 28.5 s

[('Forrest Gump', 1994, 81491, 4.0),
 ('Shawshank Redemption, The', 1994, 81482, 4.0),
 ('Pulp Fiction', 1994, 79672, 4.0),
 ('Silence of the Lambs, The', 1991, 74127, 4.0),
 ('Matrix, The', 1999, 72674, 4.0),
 ('Star Wars: Episode IV - A New Hope', 1977, 68717, 4.0),
 ('Jurassic Park', 1993, 64144, 4.0),
 ("Schindler's List", 1993, 60411, 4.0),
 ('Braveheart', 1995, 59184, 4.0),
 ('Fight Club', 1999, 58773, 4.0)]

### Top ten best rated movies (by median) where we have at least 100 ratings for a movie

In [10]:
%%time
%%sql
select title, year, num_rating, median_rating 
from movie_rating
where num_rating > 100
order by median_rating DESC, num_rating DESC
limit 10

 * hive://hadoop@localhost:10000/movielens_parquet_compressed
Done.
CPU times: user 27.9 ms, sys: 3.95 ms, total: 31.8 ms
Wall time: 27.4 s

[('Forrest Gump', 1994, 81491, 4.0),
 ('Shawshank Redemption, The', 1994, 81482, 4.0),
 ('Pulp Fiction', 1994, 79672, 4.0),
 ('Silence of the Lambs, The', 1991, 74127, 4.0),
 ('Matrix, The', 1999, 72674, 4.0),
 ('Star Wars: Episode IV - A New Hope', 1977, 68717, 4.0),
 ('Jurassic Park', 1993, 64144, 4.0),
 ("Schindler's List", 1993, 60411, 4.0),
 ('Braveheart', 1995, 59184, 4.0),
 ('Fight Club', 1999, 58773, 4.0)]

### Top ten worst rated movies (by median) where we have at least 100 ratings for a movie

In [11]:
%%time
%%sql
select title, year, num_rating, median_rating 
from movie_rating
where
    num_rating is not null
    and num_rating > 100
order by median_rating ASC, num_rating DESC
limit 10

 * hive://hadoop@localhost:10000/movielens_parquet_compressed
Done.
CPU times: user 12.8 ms, sys: 858 µs, total: 13.6 ms
Wall time: 28.2 s

[('Disaster Movie', 2008, 557, 0.0),
 ('Pokemon 4 Ever (a.k.a. Pokémon 4: The Movie)', 2002, 494, 0.0),
 ('From Justin to Kelly', 2003, 417, 0.0),
 ('Pokémon Heroes', 2003, 355, 0.0),
 ('Bratz: The Movie', 2007, 209, 0.0),
 ('SuperBabies: Baby Geniuses 2', 2004, 208, 0.0),
 ('Faces of Death 4', 1990, 169, 0.0),
 ('Faces of Death 6', 1996, 162, 0.0),
 ('Faces of Death 5', 1996, 147, 0.0),
 ('Birdemic: Shock and Terror', 2010, 115, 0.0)]

### Which genres were used how often?

In [12]:
%%time
%%sql

SELECT genre, COUNT(genre) AS cnt FROM (
    SELECT EXPLODE(genres) genre FROM movies
)t
GROUP BY genre
ORDER BY cnt DESC

 * hive://hadoop@localhost:10000/movielens_parquet_compressed
Done.
CPU times: user 14.4 ms, sys: 2.46 ms, total: 16.9 ms
Wall time: 54.5 s

[('Drama', 25606),
 ('Comedy', 16870),
 ('Thriller', 8654),
 ('Romance', 7719),
 ('Action', 7348),
 ('Horror', 5989),
 ('Documentary', 5605),
 ('Crime', 5319),
 ('', 5062),
 ('Adventure', 4145),
 ('Sci-Fi', 3595),
 ('Children', 2935),
 ('Animation', 2929),
 ('Mystery', 2925),
 ('Fantasy', 2731),
 ('War', 1874),
 ('Western', 1399),
 ('Musical', 1054),
 ('Film-Noir', 353),
 ('IMAX', 195)]

## Naïve Movie Recommender

### Step 1 - find two movies (the `movieid` you like a lot)
 
 --> 4011 == Snatch
 
 --> 1270 == Back to the Future

In [13]:
%time %sql select movieid, title, year from movies where lower(title) like '%snatch%'

 * hive://hadoop@localhost:10000/movielens_parquet_compressed
Done.
CPU times: user 9.52 ms, sys: 1.28 ms, total: 10.8 ms
Wall time: 247 ms

[(426, 'Body Snatchers', 1993),
 (1337, 'Body Snatcher, The', 1945),
 (2664, 'Invasion of the Body Snatchers', 1956),
 (4011, 'Snatch', 2000),
 (7001, 'Invasion of the Body Snatchers', 1978),
 (97031, 'Goke, Body Snatcher from Hell (Kyuketsuki Gokemidoro)', 1968),
 (102388, 'Candy Snatchers, The', 1973),
 (122037, 'The Bone Snatcher', 2003),
 (130656, 'The 21 Carat Snatch', 1971),
 (147754, 'The Mind Snatchers', 1972),
 (165201, 'Snatched', 1973),
 (170817, 'Snatched', 2017),
 (188609, 'The Snatch Thief', 2018),
 (196997, 'Black Mirror: Bandersnatch', 2018)]

In [14]:
%time %sql select movieid, title, year from movies where lower(title) like '%back to the%'

 * hive://hadoop@localhost:10000/movielens_parquet_compressed
Done.
CPU times: user 9.57 ms, sys: 0 ns, total: 9.57 ms
Wall time: 231 ms

[(1270, 'Back to the Future', 1985),
 (1863, 'Major League: Back to the Minors', 1998),
 (2011, 'Back to the Future Part II', 1989),
 (2012, 'Back to the Future Part III', 1990),
 (4081, 'Back to the Beach', 1987),
 (4445, 'T-Rex: Back to the Cretaceous', 1998),
 (5936, 'Come Back to the Five and Dime, Jimmy Dean, Jimmy Dean', 1982),
 (102666, 'Ivan Vasilievich: Back to the Future (Ivan Vasilievich menyaet professiyu)', 1973),
 (106549, 'Back to the USSR - takaisin Ryssiin', 1992),
 (127845, 'Back to the Garden, Flower Power Comes Full Circle', 2009),
 (136640, 'Back to the Jurassic', 2015),
 (139367, 'My Trip Back to the Dark Side', 2014),
 (139459, 'Back to the Beyond', 2011),
 (154917, 'Back To The Sea', 2012),
 (169574, 'Lisa Lampanelli: Back to the Drawing Board', 2015),
 (170865, "Back to the Well: 'Clerks II'", 2006)]

### Find people who liked these movies as well and save it into temp table

In [15]:
%%time
%%sql
CREATE TEMPORARY TABLE similar_people as 
select distinct(userid) userid
from ratings 
where (movieid = 4011 or movieid = 1270) and rating = 5

 * hive://hadoop@localhost:10000/movielens_parquet_compressed
Done.
CPU times: user 7.76 ms, sys: 3.01 ms, total: 10.8 ms
Wall time: 30.8 s

[]

### Basic checks for `similar_people`

In [16]:
%time %sql select * from similar_people limit 2

 * hive://hadoop@localhost:10000/movielens_parquet_compressed
Done.
CPU times: user 4.24 ms, sys: 3.32 ms, total: 7.57 ms
Wall time: 126 ms

[(13,), (14,)]

In [17]:
%time %sql select count(*) from similar_people

 * hive://hadoop@localhost:10000/movielens_parquet_compressed
Done.
CPU times: user 8.16 ms, sys: 110 µs, total: 8.27 ms
Wall time: 102 ms

[(16455,)]

### Join `similar_people` with `movies` and `ratings` and get movie recommendations

In [18]:
%%time
%%sql
SELECT m.title, count(*) as five_star_count from ratings r
INNER JOIN similar_people sp ON r.userid = sp.userid
INNER JOIN movies m ON r.movieid = m.movieid
WHERE rating = 5
GROUP BY m.title
ORDER BY five_star_count DESC
LIMIT 20

 * hive://hadoop@localhost:10000/movielens_parquet_compressed
Done.
CPU times: user 11.3 ms, sys: 5.8 ms, total: 17.1 ms
Wall time: 1min 2s

[('Back to the Future', 11602),
 ('Shawshank Redemption, The', 6662),
 ('Matrix, The', 6545),
 ('Star Wars: Episode IV - A New Hope', 6263),
 ('Pulp Fiction', 6228),
 ('Star Wars: Episode V - The Empire Strikes Back', 6062),
 ('Snatch', 5836),
 ('Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark)', 5554),
 ('Fight Club', 5535),
 ('Forrest Gump', 5137),
 ('Godfather, The', 4615),
 ('Star Wars: Episode VI - Return of the Jedi', 4559),
 ('Silence of the Lambs, The', 4203),
 ('Lord of the Rings: The Fellowship of the Ring, The', 4185),
 ('Usual Suspects, The', 4172),
 ('Terminator 2: Judgment Day', 4034),
 ("Schindler's List", 3777),
 ('Indiana Jones and the Last Crusade', 3643),
 ('Lord of the Rings: The Return of the King, The', 3602),
 ('Lord of the Rings: The Two Towers, The', 3544)]